.App {
  text-align: center;
}

@media screen and (max-width: 520px) {
  #header{
    height: 35vh;
    padding: 22px 12px 2px 12px;
  }
  #header p{
    text-align: center;
    font-size: .9rem;
    
  }

  #filter-box{
    background-color: red;
    width: 20rem;
  }
}

