#header{
    background: linear-gradient( to left,rgba(0, 0, 255, 0.559),rgba(34, 0, 118, 0.597)),url("images/pexels-photomix-company-887751.jpg");
    background-position: center;
    background-size: cover;
}